:root {
    --italic-font-size: 1.05em;
    --italic-font-weight: 500;
}

.type.storage,.type.storage.declaration, .storage.class.modifier, .mtki {
    font-family: 'Victor Mono';
    font-size: var(--italic-font-size);
    font-weight: var(--italic-font-weight)
  }
  
  .type.storage.arrow.function {
    font-family: 'JetBrains Mono', '.PingFang SC0', 'Segoe UI Emoji'
  }
  
  .decorator.name, .decorator.punctuation:not(.block), .import.keyword {
      font-family: 'Victor Mono';
      font-size: var(--italic-font-size);
      font-weight: var(--italic-font-weight)
  }
  .attribute-name {
      font-family: 'Victor Mono';
      font-size: var(--italic-font-size);
      font-weight: var(--italic-font-weight)
  }
  
  .comment:not(.punctuation) {
      font-family: 'Victor Mono';
      font-size: var(--italic-font-size);
      font-weight: var(--italic-font-weight)
  }